.App{
  background: url('./pic/Screenshot 2024-05-15 093246.png');
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-div{
  background: rgba(152, 84, 29, 0.4);
  background-blend-mode: darken;
  border: none;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
input{
  outline: none;
}
.main-div2{
  margin-top: 20px;
  background: rgba(152, 84, 29, 0.4);
  background-blend-mode: darken;
  border: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}